.search-bar-container {
    position: relative;
    
    display: flex;
    justify-content: center;
    padding: 0;

}

.search-btn {
    position: absolute;
    right: 10px;
    top: 50%;

    width: 25px;
    height: 25px;
    border: none;
    margin: 0;
    padding: 0;
    
    background-color: transparent;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@media screen and (max-width: 1080px) {
    .search-btn {
        right: 30px;
    }
}

@media screen and (max-width: 960px) {
    .search-btn {
        right: 50px;
    }
}

@media screen and (max-width: 830px) {
    .search-btn {
        right: 70px;
    }
}

@media screen and (max-width: 700px) {
    .search-btn {
        right: 90px;
    }
}

.search-icon {
    stroke: #CCCCCC;
    fill: #CCCCCC;
    stroke-width: 1px;
    transition-duration: 300ms;
}

.search-btn:is(:hover, :focus) .search-icon {
    stroke: #FFA500;
    fill: #FFA500;
}

.search-btn:focus {
    outline: none;
}

.search-bar {
    width: 30vw;
    height: 40px;
    border: none;
    padding-left: 10px;

    font-size: 16px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

@media screen and (max-width: 540px) {
    .search-bar {
        width: 50vw;
    }

    .search-btn {
        right: 80px;
    }
}

@media screen and (max-width: 360px) {
    .search-btn {
        right: 70px;
    }
}

.search-bar::placeholder {
    color: #CCCCCC;
}

