.search-bar-container {
    position: relative;
    
    display: flex;
    justify-content: center;
    padding: 0;
}

.search-bar {
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 10px;

    font-size: 16px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.search-bar::placeholder {
    color: #CCCCCC;
}

.search-btn {
    height: 40px;
    padding: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon-span {
    display: flex;
    padding: 0;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);

    stroke: #CCCCCC;
    fill: #CCCCCC;
    stroke-width: 0px;
    pointer-events: none;
}