div {
  margin: auto;
  display: block;
  padding: 15px;
}

span {
  padding: 5px;
}

h1 {
  text-align: center;
}

button {
  margin: 5px;
}

.input{
  padding: 15px;
  border: 1px solid #DDE6ED;
  border-radius: 10px;


  &:active{
    text-decoration: none;
    border: none;
  }
}

